@charset "UTF-8";
@import url(style_reset.css);

body {
    background-color: #ebeaef;
}

div#wrap {
    width: 1360px;
    margin: 0 auto;
}

main#main {
    margin-bottom: 24px;
    background-color: #fff;
}

#main > header#header {
    height: 90px;
    text-align: center;
    line-height: 90px;
    /*세로 가운데 정렬(이미지가 한개라면 height랑 값을 같게 하면 됌)*/
}

/*#main>nav#gnb {
    border: 1px solid #f80;
}*/

#gnb li.mainLi {
    -webkit-flex: 1px;
    -moz-flex: 1px;
    -ms-flex: 1px;
    -o-flex: 1px;
    flex: 1px;
}

#gnb li.mainLi {
    border: 1px solid #aaa;
    border-right: none;
}

#gnb li.mainLi:last-child {
    border: 1px solid #aaa;
}

/*gnb메뉴가 가중치로 1:1로 됌!*/

#gnb a {
    width: 100%;
    /*가중치 들어간게 li.mainLi이고 a에 들어간게 아니여서 100%들어가라고 넣어주기*/
    height: 46px;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    line-height: 46px;
    display: inline-block;
    /*height만 들어가면 a가 인라인 요소라서 넣어줘야한다*/
}

#gnb a.selected {
    color: #fff;
    background-color: #16a840;
}

#main div#slide {
    padding: 10px 0 34px;
    border: 1px solid #f80;
    margin-top: 15px;
}

#main div.arrowArea {
    line-height: 265px;
    padding: 10px;
    /*  border: 1px solid #08f;*/
    margin: 0 10px;
}

#main div#shuttleFrame {
    /*border: 1px solid #08f;*/

    -webkit-flex: 1px;
    -moz-flex: 1px;
    -ms-flex: 1px;
    -o-flex: 1px;
    flex: 1px;

    justify-content: space-between;
}

#main #shuttleFrame > div.slideItem {
    border: 1px solid #aaa;
}

#main #shuttleFrame div.forestInfo {
    padding: 16px;
}

#main .forestInfo h3 {
    color: #22834d;
    font-size: 18px;
    margin-bottom: 10px;
}

#main .forestInfo address {
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 30px;
}

#main .forestInfo hr {
    border: none;
    border-top: 1px solid #eee;
    margin-bottom: 6px;
}

#main .forestInfo ul {
    /*border: 1px solid #000;*/

    /* list-style-type: disc;*/
    list-style-position: inside;
}

#main .forestInfo li {
    font-size: 13px;
    font-weight: bold;
    /* border: 1px solid #f80;*/
}

div#contents {
    border: 1px solid #000;
}

div#bbs,
div#signboard {
    background-color: #fff;
}

#contents #bbs {
    border: 1px solid #08f;
    margin-right: 20px;

    -webkit-flex: 1px;
    -moz-flex: 1px;
    -ms-flex: 1px;
    -o-flex: 1px;
    flex: 1px;
}

#contents #signboard {
    width: 450px;
    padding: 34px;
  /*  border: 1px solid #08f;*/
}

#contents #signboard #signheader {
   /* border: 1px solid #000;*/
    margin-bottom: 20px;
}

#contents #signb0ard h2 {
    color: #000;

    -webkit-flex: 1px;
    -moz-flex: 1px;
    -ms-flex: 1px;
    -o-flex: 1px;
    flex: 1px;
}

#contents #signboard div#control {
    width: 100px;
    text-align: center;
   /* border: 1px solid #000;*/
}

#contents #control span {
   /* border: 1px solid #f80;*/
    -webkit-flex: 1px;
    -moz-flex: 1px;
    -ms-flex: 1px;
    -o-flex: 1px;
    flex: 1px;
}

/*#contents div#boardimg {
    border: 1px solid #000;
}*/
